body {
    background-image: url("https://cdn.pixabay.com/photo/2013/02/18/18/35/orange-textile-background-83042_960_720.jpg");
    background-size: auto auto;
    font-family: Arial;
    height: 100vh;
  }
  
  .menu{
    background-color: white;
  }
  
  a{
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  .site-subtitle,
  .site-title{
    color:whitesmoke;
    text-align: center;
  }
  
  .site-subtitle{
    text-align: right;
    font-style: italic;
  }
  
  .menu ul{
    display:flex;
    justify-content:space-around;
  }
  
  .menu li{
    list-style:none;
  }